@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Nunito Sans", sans-serif;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
}

.textpurple {
    color: #502E7B;
}

.bgpurple {
    background-color: #502E7B;
}

.cursive {
    font-family: "Mr Dafoe", cursive;
}

.star {
    color: #fcbf02;
}

.container {
    max-width: 100% !important;
    padding: 0 5rem;
}

@media(max-width:768px) {
    .container {
        max-width: 100% !important;
        padding: 0 2rem;
    }
}

/*google reviews */
.dLkQRC {
    text-align: left;
    color: #502E7B !important;
    font-size: 30px !important;
}
@media(max-width:768px){
    .dLkQRC {
       
        font-size: 18px !important;
    } 
}

.eHNOaE {
    background-color: #EBE8FC !important;
}

.dEQash {
    background-color: #EBE8FC !important;
}
.lbinPJ{
    background-color: #EBE8FC !important;
}

.bhijjK {
    border-radius: 0 !important;
}

.bfDBpk {
    color: #502E7B !important;
    font-size: 16px !important;
    font-weight: 700 !important;
}
.slick-dots li  {
    background: #B57EC1 !important;
    width: 20px !important;
    height: 10px !important;
    border-radius: 20px;
}
.slick-dots li.slick-active{
    background: #502E7B !important;
    width: 35px !important;
    height: 10px !important;
    border-radius: 20px;
}
.slick-dots li.slick-active button:before{
    opacity: 0 !important;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
    opacity: 0;
}

